/* Modal Styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

    .modal-content h2 {
        margin-top: 0;
        color: black;
        align-self: center;
        text-align: center;
    }

    .modal-content .error {
        color: red;
        margin: 10px 0;
    }

    .modal-content .input-field {
        width: 95%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .modal-content .btn.login-btn {
        padding: 10px;
        background-color: #4CAF50; /* Darker green instead of light blue */
        color: white;
        border: none;
        border-radius: 5px;
        margin: 10px 0;
        cursor: pointer;
        width: 100%;
    }

        .modal-content .btn.login-btn:hover {
            background-color: #45a049;
        }

    .modal-content .btn.secondary {
        background-color: #ccc;
        margin-top: 10px;
    }

    .modal-content .btn:hover {
        background-color: #21a1f1;
    }
